body{
	  background: #507774;
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

.navbar{
}

.pane{
  float:left;
  width: 10%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #09210778;
  }

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li a:hover {
    background-color: #111;
  }

.square {
    width: 100px;
    height: 100px;
    background-image: url('images/logo.png');
    position: relative;
    animation-name: example;
    animation-duration: 3s;
    left:130px; top:50px;
  }
  
  @keyframes example {
    0%   {background-color:rgb(33, 42, 24); left:130px; top:50px;}
    25%  {background-color:rgb(10, 46, 15); left:950px; top:0px;}
    50%  {background-color:rgb(113, 138, 15); left:950px; top:700px;}
    75%  {background-color:rgb(9, 99, 9); left:130px; top:700px;}
    100% {background-color:#22350b; left:130px; top:50px;}
  }

.container{
    width:800px;
    margin:0 auto;
    margin-bottom:0px;
}

.container .item {
    height: 500px;
    position: relative;
    width:800px;
  }

.container .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
  }

.container .item .cover {
    padding: 75px 0;
    position: absolute;
    width: 100%;
    height:350px;
    margin-bottom:30px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5%;
    border-color: rgba(0, 0, 0, 0.6); ;
    display: flex;
    align-items: center;
  }

.container .item .cover .header-content {
    position: relative;
    padding: 43px;
    overflow: hidden;
  }

.container .item .cover .header-content .line {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border: 9px solid #fff;
    -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
    clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  }
  
.container .item .cover .header-content h2 {
    font-weight: 300;
    font-size: 35px;
    color: #fff;
  }

.container .item .cover .header-content h1 {
    font-size: 56px;
    font-weight: 600;
    margin: 5px 0 20px;
    word-spacing: 3px;
    color: #fff;
  }

.container .item .cover .header-content h4 {
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    color: #fff;
  }

.content {
  display: flex;
 }

.column {
  padding: 10px;
  height:588px;
  }

#left {
  background-color: #85A51E;
  flex: 35%;
}

#right {
  background-color: #bcca91;
  flex: 65%;
}

.form_container{
  margin-top:150px;
}


.form__input,
.form__button {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form--hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: var(--color-success);
}

.form__message--error {
    color: var(--color-error);
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form__button:hover {
    background: var(--color-primary-dark);
}

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
}

.form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}


